In [ ]:
 # Exercise 2: Create markdown cell with title of the notebook

# H1: Data Science Tools and Ecosystem

In [ ]:
 # Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for data science.
- List commonly used libraries used by data scientists.
- List data science tools.
- Evaluate arithmetic expressions.

In [ ]:
 # Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. Swift
9. Go
10. MATLAB

In [ ]:
 # Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Plotly
6. Scikit-learn
7. SciPy
8. Keras
9. TensorFlow
10. PyTorch

In [ ]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Spyder |

In [ ]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
# This a simple arithmetic expression to mutiply then add integers.

3*4+5

17

In [ ]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [1]:
# This a simple arithmetic expression to mutiply then add integers.

minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [ ]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## H2: Author
Vithuja Thangarajah